.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 80px 36px 90px;
    max-width: 1440px;
    margin: 0 auto;


}

.gridItem1{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.gridItem1 h1{
    font-family: Eina03-Regular;

    font-size: 34px;
line-height: 136.5%;
/* or 46px */

letter-spacing: -1px;
margin-bottom: 0;

color: #272727;
padding-right:90px ;

}
.gridItem1 p{
    font-family: Eina03-Regular;
font-size: 16px;
line-height: 30px;
/* or 191% */


color: #414141;

}
.buttonDiv{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    margin-top: 20px;
    padding-bottom: 120px;
}
.buttonDiv > button:nth-child(1){
    width: 194px;
    height: 52px;
    background: #4B8CEB;
    border-radius: 8px;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;

}
.buttonDiv > button:nth-child(2){
    width: 194px;
    height: 52px;
    border: 1px solid #FF285C;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}